*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--var-nav-background-color);
}
.navbar-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:  3%;
    ;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding-bottom: 2%;
}
a{
    text-decoration: none;
    color:#E0E0E0 ;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-right: .5px solid rgb(135, 135, 135);
    padding-right: 10px;
}
a:hover{
    border-bottom:1px solid  #5233d4;
    border-right: .5px solid #5233d4;
    border-radius: 2px;
    background-color:  #5233d4;
    transition: all 0.2s ease-in-out;
    padding: 10px 0 10px 0;
}
