/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
:root {
    --var-nav-background-color: #111111;
    --var-background-color:#010101;
    overscroll-behavior: none;
  overflow-y: scroll;
}